body {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin: 0;
}

p {
    font-family: 'Poppins', sans-serif;
    color: #707070;
}

h1 {
    font-size: 65px;
    color: orangered;
    line-height: 35px;

}
h2 {
    font-size: 50px;
}

.top-banner {
    background-image: url(images/bg-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 670px;
    color: #ffffff;
    margin-bottom: 100px;
}

.top-banner>div {
    width: 850px;
    margin: 15px;
    text-align: center;
}

.top-banner p {
    font-size: 25px;
    /* background-color: dodgerblue; */
    color: #000000;
}

.link-button {
    text-decoration: none;
    font-size: 19px;
    padding: 15px 25px;
    margin: 25px;
    border-radius: 10px;
    color: #ffffff;
    background-color: orangered;
}

/* 2nd section start from here */
.flex-column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.donate-today{
    margin-bottom: 100px;
}
.donate-today>div {
    width: 820px;
    margin: 10px;
    text-align: center;
}



.flex-row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.donation-amount>div {
    background-color: #f1f1f1;
    width: 140px;
    margin: 10px;
    text-align: center;
    line-height: 70px;
    font-size: 25px;
    font-weight: 800;
    border-radius: 5px;
}

#selected-amount {
    background-color: rgb(255, 233, 225);
    border: 3px solid orangered;
    color: orangered;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    border: none;
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid rgb(189, 183, 183);
}

/* 3rd section start from here */
.donate-plan {
    text-align: center;
    width: 820px;
}

.welfare-projects>div {
    width: 300px;
    height: 350px;
    margin: 10px;
    padding: 15px 25px;
    border-radius: 5px;
    text-align: left;
}

#food {
    background-color: #F0F2F5;
}

#shelter {
    background-color: #ffeeee;
}

#education {
    background-color: #fff4d6;
}
.project-videos{
    margin-top: 100px;
    margin-bottom: 100px;
}
.videos>div {
    margin: 10px;
}

.photos img {
    width: 400px;
    height: 320px;
    margin: 10px;
}
.updates{
    margin-top: 70px;
    margin-bottom: 100px;
}
.updates>div {
    width: 820px;
    margin: 10px;
    text-align: center;
}

.subscribe {
    background-color: #fff4d6;
    height: 205px;
}

.subscribe>div {
    width: 445px;
}

input[type=email] {
    background-color: #d9d9d9;
    width: 50%;
    padding: 12px 25px;
    border: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    font-size: 20px;
    text-align: left;
    margin-right: 0px;
}

input[type=submit] {
    background-color: #ff5959;
    width: 30%;
    padding: 12px 25px;
    border: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}

footer {
    background-color: #000000;
    color: #ffffff;
    padding-bottom: 45px;
    line-height: 25px;
    font-family: 'Manrope';
}

footer h2 {
    color: orangered;
}